<div class="contenedor">
    <h1>Description</h1>
<mat-card class="example-card" *ngIf="person">
    <mat-card-title>{{person.name}}</mat-card-title>
    <mat-card-content>
      <p>Gender: {{person.gender}}</p>
      <p>Mass: {{person.mass}} Kg</p>
      <p>Height: {{person.height}} m</p>
      <p>Hair color: {{person.hair_color}}</p>
      <p>Skin color: {{person.skin_color}}</p>
      <p>Eye color: {{person.eye_color}}</p>
      <p>Birth year: {{person.birth_year}}</p>
    </mat-card-content>
</mat-card>
</div>